# Database configuration
export DATABASE_URL="postgres://safetrace:safetrace_dev_password@localhost:5432/safetrace?sslmode=disable"

# Redis configuration
export REDIS_URL="localhost:6379"

# API configuration
export PORT="8080"
HMAC_SECRET=fd9tTuiZE1ZoglzpolJ9a/8qr0UD9pgFHp1gW2I+dCWAQM9Qy5F+I/dyyN2a7Rum
JWT_SECRET=0c21a648ee5ff90bc2a8ce65c619cb1f73c971d73c2f87a4cc0e037197064793

# SMS configuration (Twilio/Termii)
TWILIO_ACCOUNT_SID=MG7204259753c837eab38d3b2e1d871e3c
TWILIO_AUTH_TOKEN=AC4a16cf3a8067c25a2816dc0dcfccba49:58e2847e3cf1f82f5001e081ffbbea50

TWILIO_PHONE_NUMBER=+1234567890
